@model CRUDUsingMVC.Models.EmpModel


@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@
    
<div class="form-horizontal">
    <h1 style="font-size:xx-large"><span class="badge badge-pill badge-success">Edit Employee Details</span></h1>
    @*<h4>Update Employee Details</h4>*@
    <hr />
    @*<div>
            @Html.ActionLink("View Employee Details", "GetAllEmpDetails")
        </div>*@
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Empid)
    <table class="table table-hover">
        <tbody>
            <tr class="table-secondary">
                <td>
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "col-form-label", @for = "inputDefault", @style = "font-size:large" })
                </td>
                <td>
                    @Html.EditorFor(model => model.FirstName, new
                    { htmlAttributes = new { @type = "text", @class = "form-control border-success", @placeholder = "First Name", @id = "inputDefault", @style = "font-size:20px; width:300px" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-primary", @style = "font-size:large" })
                </td>
            </tr>
            <tr class="table-secondary">
                <td>
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "col-form-label", @for = "inputDefault", @style = "font-size:large" })
                </td>
                <td>
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @type = "text", @class = "form-control border-success", @placeholder = "Last Name", @id = "inputDefault", @style = "font-size:20px;" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-primary", @style = "font-size:large" })
                </td>
            </tr>
            <tr class="table-secondary">
                <td>
                    @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "col-form-label", @for = "inputDefault", @style = "font-size:large" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @type = "text", @class = "form-control border-success", @placeholder = "Age", @id = "inputDefault", @style = "font-size:20px;" } })
                    @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-primary", @style = "font-size:large" })
                </td>
            </tr>
            <tr class="table-secondary">
                <td>
                    @Html.LabelFor(model => model.DateofBirth, htmlAttributes: new { @class = "col-form-label", @for = "inputDefault", @style = "font-size:large" })
                </td>
                <td>
                    @Html.EditorFor(model => model.DateofBirth, new { htmlAttributes = new { @type = "text", @class = "form-control border-success", @placeholder = "Date of Birth", @id = "inputDefault", @style = "font-size:20px;" } })
                    @Html.ValidationMessageFor(model => model.DateofBirth, "", new { @class = "text-primary", @style = "font-size:large" })
                </td>
            </tr>
            <tr class="table-secondary">
                <td>
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "col-form-label", @for = "inputDefault", @style = "font-size:large" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @type = "text", @class = "form-control border-success", @placeholder = "Address", @id = "inputDefault", @style = "font-size:20px;" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-primary", @style = "font-size:large" })
                </td>
            </tr>
            <tr class="table-secondary">
                <td>
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "col-form-label", @for = "inputDefault", @style = "font-size:large" })
                </td>
                <td>
                    @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @type = "text", @class = "form-control border-success", @placeholder = "Is Active", @id = "inputDefault", @style = "font-size:20px;" } })
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-primary", @style = "font-size:large" })
                </td>
            </tr>
            <tr class="table-secondary">
                <td></td>
                <td>
                    <input type="submit" value="Update Employee" class="btn btn-primary btn-lg btn-block" style="font-weight:900" />
                </td>
            </tr>
        </tbody>
    </table>
    @*<div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateofBirth, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateofBirth, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateofBirth, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-default" />
        </div>
    </div>*@
</div>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
